<div class="email" style="font-size: 15px; font-weight: bold">
  <p>По всем вопросам пишите на почту: </p>
  <%= mail_to 'mgorb71@gmail.com',
              'mgorb71@gmail.com',
              {style: 'color: black'}
      %>
</div>

